{% extends 'base.html' %}
{% block about %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <p class="flow-text">This site was created by volunteers for the sole purpose of saving the lives of
                    cats and finding them
                    a
                    new home and loving owners.</p>
                <p class="flow-text">In our country, there are very few shelters for cats. There are more than 500 cats
                    in Murkosh’s
                    private
                    shelter, according to this indicator we are the largest private shelter. The vast majority of
                    animals
                    brought there by good people or former owners. Cats are very different - affectionate and not very,
                    wayward, fearful, playful, sad, funny. And the all-all is very beautiful!</p>
                <p class="flow-text">All shelter orphans dream of one thing - to find their home and loving owners.
                </p>
                <p class="flow-text">We are their only chance to survive and find a new life. Unfortunately, in our
                    country, people are
                    afraid
                    to take cats from shelters. Anyone can save the animal from the shelter and give him a new life,
                    warmth,
                    affection, attention! Believe me, animals will not remain in debt. They will give you their soul,
                    heart
                    and become your most loyal friends!</p>
            </div>
        </div>
    </div>
{% endblock %}
